/*header*/
header{
   
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
}

 

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

 


header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
a.active{
    color: #1175CE;
}
a:hover{
    color:#1175CE;
    transition: 0.2s;
}

 

header #branding{
    float: left;
    margin-left: 5%;
}

 

header #branding h1{
    margin: 0;
    font-style: italic;
}

 

header .highlight{
    color: #1175CE;
}

 


header nav{
    float: right;
    margin-right: 5%;
    margin-top: 10px;
}



/* For Body Part */

body{
    font-family:montserrat, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: lightgray;
}

.container{
    width:80% ;
    margin: auto;
    overflow: hidden;
}

.contactbox{
    
    width: 100%;
    text-align: center;

}
.seperator{
    background-color: orange ;
    width: 4%;
    border: 0;
    height: 5px;
    margin-bottom: 20px;
   
}

.title{
    padding: 0;
    margin-bottom: -10px;
    

}

.image_container{
    
    width: 30%;
    margin:0 auto ;
    height: 45px;
}


.image_container img{
    width: 2em;
    padding: 0 5px;
    height: 100%;
}


.entryfield{
    width: 50%;
     
    text-align: left;
    margin: 50px auto;
    font-size: 0.8em;
}

.inputfield{
    width: 100%;
    height: 35px;
    border-radius: 5px ;
    border-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    padding-left: 10px;
}

.inputfield1{
    width: 100%;
    height: 100px;
    border-radius: 5px ;
    border-color: rgba(0, 0, 0, 0.2);
}

.inputfield:focus{
    outline: none;
    border-color: red;
}

.button{
    width: 10em;
    border-radius: 50px;
    border:0 ;
    padding: 15px;
}