body {
    font-size: 16px;
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }
  
  .container {
    width: 100%;
    margin: auto ;
    overflow: hidden;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }

  .nav-bar{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgba(0, 0, 0, 1);
  }

.nav-logo{
      text-align: center;
    }

    .nav-logo h1 {
      font-size: 2.3em;
      margin: 0;
      font-style: italic;
      color: #ffffff;
      margin-left: 50px;
    }
    
    .highlight {
      color: #5383d3;
    }
    .nav-link{
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 3;
    }

    .nav-link ul{
      margin-left: -90px;
    }

    .p-f{
      display: flex;
      justify-content: end;
      align-items: center;
    }

    .link-href {
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 16px;
      box-shadow: 0 6px 2px -10px aqua;
    }
    
    li {
      display: inline;
      margin-right: 30px;
    }

    .link-href.active {
      color: aqua;
      box-shadow: 0 4px 2px -2px aqua;
    }

    .link-href:hover {
      color: aqua;
      transition: 0.6s;
      box-shadow: 0 4px 2px -2px aqua;
    }

  

    .link-href:hover {
      color: aqua;
      transition: 0.6s;
      box-shadow: 0 4px 2px -2px aqua;
    }

    .entryfield{
      width: 50%;
      text-align: left;
      margin: 0 auto;
      font-size: 12px;
      margin-top: 30px;
    }

    
#showcase{
	min-height: 400px;
	background: url('contact.jpg') no-repeat 0;
	background-size: cover;
}



#contactbox{
	width: 100%;
	min-height: 750px;
	color: #202020;
	text-align: center;
	margin-top: 10px;
}

#contactbox h1{
	font-size: 2em;
	margin-bottom: 10px;
}

.sep{
	height: 6px;
	background-color: red;
	border: 0;
	width: 5em;

}

.img-container{
	width: 40%;
	margin: 30px auto;
}

.img-container img{
	padding: 0 10px;
	width: 2em;
	cursor: pointer;
}





.input-field{
	border-radius: 5px;
	width: 96%;
	height: 35px;
	border-color: rgba(0, 0, 0, 0.2);
	padding-left: 10px;
	margin-bottom: 20px;
}


.input-field:focus{
	outline: none;
	border-color: blue;
}

.msg-field{
	border-radius: 5px;
	width: 96%;
	height: 200px;
	border-color: rgba(0, 0, 0, 0.2);
	padding-left: 10px;
}


.msg-field:focus{
	outline: none;
	border-color: blue;
}

.send-btn{
	margin-top: 25px;
	width: 10em;
	border-radius: 50px;
	background-color: #005789;
	border: 0;
	padding: 15px;
	color: white;
	font-size: 1em;
	font-weight: bold;
	cursor: pointer;
}

.send-btn:hover,
.send:focus {
  box-shadow: 0 1em 1em -0.4em grey;
  transform: translateY(-0.25em);
  transition: 0.3s;
}

@media screen and (max-width: 700px) {

  .nav-logo{
    flex-basis: 100%;
  }
  .nav-link{
    padding-top: 20px;
    flex-basis: 100%;
  }
  .nav-logo h1 {
    margin:0;
  }
  .p-f{
    padding-top: 20px;
    padding-bottom: 10px;
    flex-basis: 100%;
    justify-content: center;
  }
  .nav-link ul{
    margin-left: 0;
  }
  li {
    margin-right: 10px;
  }
  .entryfield{
    width: 90%;
  }

  #showcase{
    min-height: 200px;
  }
  body {
    font-size: 12px;
  }

}

footer{
    bottom: 0;
   }
   .footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    
    padding: 55px 50px;
   }
    
   .footer-distributed .footer-left,
   .footer-distributed .footer-center,
   .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
   }
    
   .footer-distributed .footer-left{
    width: 40%;
   }
    
   .footer-distributed h3{
    color:  #ffffff;
    font: bold italic 36px 'Montserrat';
    margin: 0;
   }
    
  
    
    
   .footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
   }
    
   .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
   }
    
   .footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
   }
    
    
   .footer-distributed .footer-center{
    width: 35%;
   }
    
   .footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
   }
    
   .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
   }
    
   .footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
   }
    
   .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
   }
    
   .footer-distributed .footer-center p a{
    color:  #5383d3;
    text-decoration: none;;
   }
    
   .footer-distributed .footer-right{
    width: 20%;
   }
    
   .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
   }
    
   .footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
   }
    
   .footer-distributed .footer-icons{
    margin-top: 25px;
   }
    
   .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
    
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    
    margin-right: 3px;
    margin-bottom: 5px;
   }
    
    
  @media (max-width: 880px) {
  
  .footer-distributed{
  font: bold 14px sans-serif;
  
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
  display: block;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
  }
  
  .footer-distributed .footer-center i{
  margin-left: 0;
  }
  }
