








/* For Body */

* {
    margin: 0;
    padding: 0;
    width: 100%;
}
body{
    background-color: lightgrey;
}

.heading{
   
    width:38% ;
    margin: 0 auto;
}

.seperator{
     background-color: navy ;
    width: 5%;
    border: 0;
    height: 5px;
    
    margin:  10px auto 20px;
}


.box{
  
    width: 50%;
    border-radius: 7px;
    margin: 0 auto;
    padding: 20px;
    height: 400px;
}



.question{
   
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
   

}

.text{
    font-size: 20px;
    padding-left: 27px;
    background-color:#0288D1 ;
    border-radius: 7px;
    width: 80%;
}

.subbox{
    border: 2px;
    border-color: #01579B;
    border-style: solid;
    border-radius: 7px;
    margin-bottom: 10px;
    padding: 10px;


}




.question:hover{
    cursor: pointer;
    font-weight: bold;

}


.subbox:hover{
    box-shadow: 3px 3px 3px 0   #0277BD;
    transition: 0.4s;

}

/* FOOTER */

