/*

* {
    margin: 0;
    padding: 0;
    width: 100%;
}
header{
    margin: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8 );
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;

}

.container{
    width: 100%;
    margin: 0;
    overflow: hidden;

}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

 


header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
a.active{
    color: #1175CE;
}
a:hover{
    color:#1175CE;
    transition: 0.2s;
}

 

header #branding{
    float: left;
    margin-left: 5%;
}

 

header #branding h1{
    margin: 0;
    font-style: italic;
}

 

header .highlight{
    color: #1175CE;
}

 


header nav{
    float: right;
    margin-right: 5%;
    margin-top: 10px;
}
*/

/* For Body */

* {
    margin: 0;
    padding: 0;
    width: 100%;
}
body{
    background-color: lightgrey;
}

.heading{
   
    width:38% ;
    margin: 0 auto;
}

.seperator{
     background-color: orange ;
    width: 5%;
    border: 0;
    height: 5px;
    
    margin:  10px auto 20px;
}


.box{
   
    width: 50%;
    border-radius: 7px;
    margin: 0 auto;
    padding: 20px;
}



.question{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
   

}

.text{
    font-size: 20px;
    padding-left: 27px;
    background-color: BlanchedAlmond ;
    border-radius: 7px;
    width: 80%;
}

.subbox{
    border: 2px;
    border-color: orange;
    border-style: solid;
    border-radius: 7px;
    margin-bottom: 10px;
    padding: 10px;


}



/*.subbox2{
    border: 2px;
    border-color: orange;
    border-style: solid;
    border-radius: 7px;
    margin-bottom: 10px;
}

.subbox3{
    border: 2px;
    border-color: orange;
    border-style: solid;
    border-radius: 7px;
    margin-bottom: 10px;
}

.subbox4{
    border: 2px;
    border-color: orange;
    border-style: solid;
    border-radius: 7px;
    margin-bottom: 10px;
}*/

.question:hover{
    cursor: pointer;
    font-weight: bold;

}


.subbox:hover{
    box-shadow: 5px 8px darkorange;
    transition: 0.2s;

}

/*.subbox2:hover{
    box-shadow: 5px 8px darkorange;
    transition: 0.2s;


}

.subbox3:hover{
    box-shadow: 5px 8px darkorange;
    transition: 0.2s;


}

.subbox4:hover{
    box-shadow: 5px 8px darkorange;
    transition: 0.2s;


}*/