{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register</title>
	<link rel="stylesheet" href="{% static 'accounts/login.css' %}">
</head>
<body>
	<div id="container">
		<div class="logoHolder">
			<div class="logo">
				<img src="{% static 'accounts/Elite rental logo.png'%}">
			</div>
		</div>
		<div id="cred-container">
					<div class="sep">
		</div>
			<div class="title">
				<h2>Login</h2>
			</div>
			<div class="entryField">		
			<form>
				<input type="email" placeholder=Email>
			</form>
			</div>
			<div class="entryField">		
			<form>
				<input type="password" placeholder="Password">
			</form>
			</div>
		<button class="register-btn" type="register">
			Login
		</button>
		<div class="signin">
			Don't have an account? <a href="register.htm">Register</a>
		</div>
		</div>





		
	</div>
</body>
</html>