{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Profile</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/prof.css' %}"> 


</head>
<body>

    <header>
		<div class="container">
			<div id="branding">
				<h1>
					<span class="highlight">Elite</span>Rental
				</h1>
			</div>
			<nav>
				<ul>
					<li><a href="{% url 'home:index' %}">Home</a></li>
					<li><a href="{% url 'services:index' %}">Services</a></li>
					<li><a href="{% url 'about:about_index' %}">About</a></li>
					<li><a href="{% url 'contact:contact_index' %}">Contact</a></li>
					<li><a href="{% url 'faq:faq_index' %}">FAQ</a></li>
					<li class="link-sep">|</li>

					<span>
						{% if user.is_authenticated %}
							<li style="margin-right: -20px;"><a class="img-hover active"   href="{% url 'accounts:profile' %}"><img src="{% static 'home/user-24.png' %}"></a></li>
							<li><a class="img-hover" href="{% url 'accounts:logout' %}"><img src="{% static 'home/logout-24.png' %}"></a></li>
						{% else %}
						    <li style="color:yellow;"><a href="{% url 'accounts:loginPage' %}">Login</a></li>
						{% endif %}
					</span>
				</ul>
			</nav>
		</div>
	</header>

    <section id="headingSection">
        <div class="container">
            <center>
            <h1 class="title">User Profile</h1>
            <hr class="sep">
            </center>
        </div>
    </section>

    <section id="profileBox">
        <div class="left-sidebar">
            <div class="container">

            

            <label for="Username">Username:</label>
            <input name="Username" type="text" value={{user.username}} class="inf1"readonly>

            <label for="DateJoin">Date Joined:</label>
            <input name="DateJoin" type="datetime" value="{{user.date_joined}}" class="inf1" readonly>

            <label for="LastLogin">Last Login:</label>
            <input name="LastLogin" type="datetime" value="{{user.last_login}}" class="inf1" readonly>
        </div>
    </div>

        <div class="main-content">
        <div class="container">
            <h1 class="secondaryTitle">Account Information</h1>
            <form method="POST">
                {% csrf_token %}
                <label for="UserId">User Id:</label>
                <select name="UserId" id="userId" class="inf1">
                    <option value={{user.id}}>{{user.id}}</option>
                </select>

                <label for="FirstName">First Name:</label>
                <input name="FirstName" type="text" value={{user.first_name}} class="inf1"  readonly>

                <label for="LastName">Last Name:</label>
                <input name="LastName" type="text" value={{user.last_name}} class="inf1" readonly>

                <label for="Email">Email:</label>
                <input name="Email" type="text" class="inf1"  value={{user.email}} readonly>
                <br>
            <h1 class="secondaryTitle">Address Information</h1>
                    <label for="address">Address:</label>
                    <input name="address" type="text" 

                    {% if address == "Enter Detail"%}
                    placeholder="Enter Address"
                    {% else %}
                    value="{{address.address}}" 
                    readonly
                    {% endif %}

                    class="inf1">

                    <label for="street">Street:</label>
                    <input name="street" type="text" 
                    
                    {% if address == "Enter Detail"%}
                    placeholder="Enter Street"
                    {% else %}
                    value="{{address.street}}" 
                    readonly
                    {% endif %}
                    
                    class="inf1">

                    <label for="postalcode">Postal Code:</label>
                    <input name="postalcode" type="text" 
                    
                    {% if address == "Enter Detail"%}
                    placeholder="Enter Postal Code"
                    {% else %}
                    value={{address.postalcode}} 
                    readonly
                    {% endif %}
                    
                    class="inf1">

                    <label for="city">City:</label>
                    <input name="city" type="text" 
                    
                    {% if address == "Enter Detail"%}
                    placeholder="Enter City"
                    {% else %}
                    value={{address.city}} 
                    readonly
                    {% endif %}
                    
                    class="inf1">

                    <label for="country">Country:</label>
                    <select name="country" id="country" class="inf1">
                        <option value=Nepal>Nepal</option>
                    </select>

                    <button type="submit">Save</button>
                </form>

        </div>
        </div>
    </section>




<footer class="footer-distributed">
 
    <div class="footer-left">
    
    <h3><span class="highlight">Elite</span>Rental</h3>
    
    <p class="footer-links">
    <a href="">Home</a>
    ·
    <a href="#">Services</a>
    ·
    <a href="#">Contact</a>
    ·
    <a href="#">About</a>
    ·
    <a href="#">Faq</a>

    </p>
    
    <p class="footer-company-name">eliterental &copy; 2021</p>
    </div>
    
    <div class="footer-center">
    
    <div>
    <i class="fa fa-map-marker"></i>
    <p><span>Dillibazar</span> Kathmandu, Nepal</p>
    </div>
    
    <div>
    <i class="fa fa-phone"></i>
    <p>+1 555 123456</p>
    </div>
    
    <div>
    <i class="fa fa-envelope"></i>
    <p><a href="mailto:support@company.com">contact@eliterental.com</a></p>
    </div>
    
    </div>
    
    <div class="footer-right">
    
    <p class="footer-company-about">
    <span>About the company</span>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>
    
    <div class="footer-icons">
    
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-github"></i></a>
    
    </div>
    
    </div>
    
    </footer>


  

</body>
</html>
