*{
	margin: 0;
	padding: 0;
}

body{
	font-family: Montserrat;

}

#container{
	background-color: whitesmoke;
	position: relative;
	height: 80vh;
	width: 80%;
	margin: 70px auto;
	box-shadow: 3px 3px 10px #888888;
}

.logoHolder{
	position: absolute;
	width: 50%;
	left: 0;
	text-align: center;
	margin-top: 10%;
}

.logo{
	padding-left: 10%;
}

.logo img{
	width: 80%;
	height: 80%;
}

#cred-container{
	position: absolute;
	width: 50%;
	right: 0;
	text-align: center;
	line-height: 1.5;
	margin-top: 10%;
}

.title{
	color: #3b444b;
	padding-bottom: 20px;
	font-size: 1.5vw;
}

.entryField{
	padding-top: 15px;
}

.entryField input{
	border-radius: 5px;
	width: 50%;
	height: 40px;
	border-color: rgba(0, 0, 0, 0.2);
	padding-left: 20px;
}

.entryField input:focus{
	outline: none;
	border-color: blue;
}

.register-btn{
	margin-top: 25px;
	width: 20%;
	border-radius: 50px;
	background-color: #005789;
	border: 0;
	padding: 15px;
	font-size: 0.9vw;
	color: white;
	font-weight: bold;
	cursor: pointer;
}
.register-btn:hover,
.register-btn:focus {
  box-shadow: 0 1em 1em -0.4em grey;
  transform: translateY(-0.25em);
  transition: 0.3s;
}
.signin{
	margin-top: 30px;
	color: #848484;
	font-family: Montserrat;
	font-size: 1vw;
}

.signin a{
	text-decoration: none;
	color: #005789;
	font-weight: bold;

}

a:hover{
	color: red;
}


.sep{
	position: absolute;
	width: 1px;
	height: 250px;
	background-color: grey;
	opacity: 30%;
	top: 30px;
}