body{
	font: 15px/1.5 Montserrat;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}

.container{
	width: 100%;
	margin: auto;
	overflow: hidden;
}

ul{
	margin: 0;
	padding: 0;
}
/*header*/
header{
	position: fixed;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
}

header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}


header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}
a.active{
	color: #1175CE;
}
a:hover{
	color:#1175CE;
	transition: 0.2s;
}

header #branding{
	float: left;
	margin-left: 5%;
}

header #branding h1{
	margin: 0;
	font-style: italic;
}

header .highlight{
	color: #1175CE;
}


header nav{
	float: right;
	margin-right: 5%;
	margin-top: 10px;

}

/*showcase*/

#showcase{
	min-height: 750px;
	background: url('nexon-2.jpg') no-repeat 0;
	color: white;
}


/*Why choose Us*/
#info1{
	padding: 15px;
	background-color: #F9F9F8;
	text-align: center;
}
#info1 h2{
	font-size: 34px;
	color: #343534;
	text-transform: uppercase;
}
#info1 p{
	font-size: 16px;
	color: grey;
	font-family: Montserrat;
}

/*cards*/
.card{
	float: left;
	width: 30%;
	padding:10px;
	text-align: center;
	margin: 40px auto;
	margin-left:20px;
	color: white;
	box-shadow: 0 3px 3px #C8D0D8;
}
.card img{
	width: 50px;
	height: 45px;
	padding-top: 30px;
	padding-bottom: 5px;
}

.card h3{
	color: white;
	font-size: 26px ;
	margin: 0;
}

#info1 .card p{
	padding-top: 5px;
	color: white;
	font-size: 15px;
	padding-bottom: 30px;
}

#info2{
	background:url('showcase.jpg');
	color: #ffffff;
	text-align: center;
	padding: 50px;
	line-height: 1.5;
}

#info2{

}