{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Services</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'services/services.css' %}"> 


</head>
<body>

    <div class="nav-bar">
        <div class="nav-logo">
            <h1>
            <span class="highlight">Elite</span>Rental
        </h1></div>
        <div class="nav-link">
            
            <nav>
				<ul>
					<li><a class="link-href" href="{% url 'home:index' %}">Home</a></li>
					<li><a class="active link-href" href="{% url 'services:index' %}">Cars</a></li>
					<li><a class="link-href" href="{% url 'about:about_index' %}">About</a></li>
					<li><a class="link-href" href="{% url 'contact:contact_index' %}">Contact</a></li>
					<li><a class="link-href" href="{% url 'faq:faq_index' %}">FAQ</a></li>
				</ul>
			</nav>
        </div>

        <div class="p-f">
            <div>
            {% if user.is_authenticated %}
                <li style="margin-right: -20px;"><a class="img-hover link-href"   href="{% url 'accounts:profile' %}"><img src="{% static 'home/user-24.png' %}"></a></li>
                <li><a class="img-hover link-href" href="{% url 'accounts:logout' %}"><img src="{% static 'home/logout-24.png' %}"></a></li>
            {% else %}
                <li style="color:yellow;"><a href="{% url 'accounts:loginPage' %}">Login</a></li>
            {% endif %}
            </div>
        </div>
    </div>

    <section id="headingSection">
        <div class="container">
            <center>
            <h1 class="title">Find car by type</h1>
            <hr class="sep">
            </center>
        </div>
    </section>

    <section id="typeBox">
       <div class="container">

       	<!-- row1 -->
       	<div class="row">
    <div class="card">
        
            <h3 class="img-text">Sedan</h3>
            <a href="{% url 'services:display' %}?category=1">
                <img src="{% static 'services/Sedan.jpg' %}">
            </a>
    </div>
    <div class="card">
    	<h3 class="img-text">SUV</h3>
    	<a href="{% url 'services:display' %}?category=2"><img src="{% static 'services/suv.jpg' %}"></a>
    </div>
    <div class="card">
    	<h3 class="img-text">4 Wheel</h3>
    	<a href="{% url 'services:display' %}?category=6"><img src="{% static 'services/4wheel.jpg' %}"></a>
    </div>
</div>

      	<!-- row2 -->
       	<div class="row">
    <div class="card">
    	<h3 class="img-text">Electric</h3>
    	<a href="{% url 'services:display' %}?category=4"><img src="{% static 'services/electric.jpg' %}"></a>
    </div>
    <div class="card">
    	<h3 class="img-text">Pick-up</h3>
    	<a href="{% url 'services:display' %}?category=3"><img src="{% static 'services/pick-up.jpg' %}"></a>
    </div>
    <div class="card">
    	<h3 class="img-text">Vans</h3>
    	<a href="{% url 'services:display' %}?category=5"><img src="{% static 'services/van.jpg' %}"></a>
    </div>
</div>
    </section>


    




<footer class="footer-distributed">
 
    <div class="footer-left">
    
    <h3><span class="highlight">Elite</span>Rental</h3>
    
    <p class="footer-links">
    <a href="">Home</a>
    ·
    <a href="#">Services</a>
    ·
    <a href="#">Contact</a>
    ·
    <a href="#">About</a>
    ·
    <a href="#">Faq</a>

    </p>
    
    <p class="footer-company-name">eliterental &copy; 2021</p>
    </div>
    
    <div class="footer-center">
    
    <div>
    <i class="fa fa-map-marker"></i>
    <p><span>Dillibazar</span> Kathmandu, Nepal</p>
    </div>
    
    <div>
    <i class="fa fa-phone"></i>
    <p>+1 555 123456</p>
    </div>
    
    <div>
    <i class="fa fa-envelope"></i>
    <p><a href="mailto:support@company.com">contact@eliterental.com</a></p>
    </div>
    
    </div>
    
    <div class="footer-right">
    			
    <p class="footer-company-about">
    <span>About the company</span>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>
    
    <div class="footer-icons">
    
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-github"></i></a>
    
    </div>
    
    </div>
    
    </footer>


  

</body>
</html>
	